:root {
    --white: #ffffff;
    --black: #000000;
    --main-blue: #01112c;
    --accent-color: #00a1f6;
    --main-green: #03bd52;
    --nav-bc: #8e1bb1a2;
    --blue: #30259f;
    --bc: #fdfdfd;
    --bc-hover: #029942;
    --orange: #ff9838;
    --text-unselect: #787885;
    --input-icon: #617083;
    --btn-green-bc: #e3fbf5;
    --green-status: #1dc39a;
    --danger-status: #fcebe8;
    --warning-status: #fef6ec;
    --warning-status-color: #f7b055;
    --danger-status-color: #e34a30;
    --orange-bc: #fef6ec;
    --sub-text: #aeaeae;
    --action-view: #E4EFFD;
    --action-view-color: #1072f1;
    --group-border-rd: 20px;
    --card-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
      0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035);
    --card-border: #e0e0e0;
    --card-inp-bg: #f2f2f2;
    --card-btn-shadow: 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.00562291);
    --select-text: #5c5c5c;
    --center-logo-shadow: 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
      0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
      0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    --center-card-shadow: 0px 13px 15px 4px #fafbfc;
    --greey: #e0e0e0;
    --card-border: #d4d4d4;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Source Sans Pro", sans-serif;
  }
  
  html::-webkit-scrollbar {
    width: 0px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    font-family: "Quicksand", sans-serif;
  }
  
  input,
  button,
  a {
    outline: 0px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .ml-auto {
    margin-left: auto !important;
  }
  
  .mr-auto {
    margin-right: auto !important;
  }
  
  .mt-auto {
    margin-top: auto !important;
  }
  
  .mb-auto {
    margin-bottom: auto !important;
  }
  
  input::-webkit-input-placeholder {
    color: #c2c2e8;
    font-weight: 400;
    font-size: 13px;
  }
  
  .add {
    width: 65%;
    margin: auto;
  }
  
   /* force deleted */
  
      .ant-picker-datetime-panel .ant-picker-date-panel, .ant-modal-footer .ant-btn.ant-btn-primary{
          display:none;
      }
  
      .ant-modal-footer {
        position: relative;
        height: 70px;
        border: none;
      }
  
      .ant-modal-footer .ant-btn{
        position: absolute;
        left: 24px;
        width: calc(50% - 36px);
        bottom: 24px;
        height: 52px;
        border-radius: 10px;
      }
      
      .ant-modal-footer .ant-btn:hover {
        border-color: var(--text-unselect) !important;
        color: var(--text-unselect);
      }
  